$primary: #303030;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap');

.body {
  font-family: 'Merriweather', serif;
}
.logo {
  font-family: 'Special Elite', cursive;
}
.user-name {
  font-family: 'Special Elite', cursive;
  padding-top: 10px;
}
.create-header {
  background-color: silver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 5px;
}

.create-stack {
  border: solid;
  box-shadow: 10px 5px 5px silver;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.create-submit {
  padding: 5px;
}

.card-header {
  background-color: silver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-for-data {
  height: 100vh;
  overflow: scroll;
}

.stack {
  border: solid;
  box-shadow: 10px 5px 5px silver;
  margin-bottom: 10px;
}
.grid {
  border: solid;
  box-shadow: 10px 5px 5px silver;
  margin-bottom: 10px;
}
.card-form {
  padding-bottom: 10px;
}

.top-of-create {
  padding-top: 10px;
}
.stats {
  padding-top: 5px;
  background-color: #e2e2e2;
}
.quote {
  display: flex;
  justify-content: center;
  font-style: italic;
  padding-top: 10px
}
.run-detail {
  display: flex;
  justify-content: center;
}
